.enter {
  &__title {
    width: 15rem;
    text-align: center;
    color: #181C43;
    margin-top: 4rem;
  }

  &__subtitle {
    width: 15rem;
    font-weight: 400;
    text-align: center;
    color: #3E4462;
    margin: 1rem auto 2rem auto;
  }
  &__image {
    margin-top: 2rem;
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__sign-up {
    width: 7.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: black;
    border-radius: 50px;
    background: white;
  }
  &__sign-in {
    background: #1E1A3E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  }
}